@import 'helpers';

.first {
    overflow: initial;
    // background-color: red;
    height: 300px;


    display: flex;
    justify-content: center;
    // z-index: 10;

    .controler-first_section {
        overflow: initial;

        // z-index: 10;
        width: 80%;
        height: 100%;
        // background-color: blue;

        display: flex;
        flex-direction: column;
        justify-content: center;


        position: relative;


        .text-first {
            overflow: initial;
            margin-left: 10%;
            margin-bottom: 5%;
            color: #fff;

            z-index: 10;

            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                font-size: 150px;

                display: flex;

                span {
                    margin-left: 15px;

                    span {
                        background-image: linear-gradient(to bottom, $color-3, $color-2);

                        background-clip: text;
                        -webkit-background-clip: text;

                        -webkit-text-fill-color: transparent;

                        color: black;

                    }
                }
            }

            p {
                font-size: 25px;
            }
        }

        .image {
            position: absolute;
            // width: 300px;
            // height: 100px;
            right: 0%;

            z-index: 2;

            :first-child {
                width: 300px;
                height: 300px;
                object-fit: contain;

            }
        }

        .bg {
            background-color: $color-2;
            position: absolute;
            width: 100%;
            height: 80%;

            z-index: -1;

            border-radius: 30px;
        }
    }
}



@media screen and (min-width: 200px) and (max-width: 300px) {
    .first {
        // background-color: red;
        height: 200px;


        display: flex;
        justify-content: center;

        .controler-first_section {
            width: 90%;
            height: 100%;
            // background-color: blue;

            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;

            position: relative;


            .text-first {
                overflow: initial;
                margin-left: 10%;
                color: #fff;

                display: block;

                h1 {
                    font-size: 30px;
                    display: block;

                    span{
                        margin-left: 0%;

                        span {
                            background-image: linear-gradient(to bottom, #fff, #ffff);
    
    
                        }
                    }
                }
                p{
                    font-size: 15px;
                }
            }

            .image {
                position: absolute;
                // width: 300px;
                // height: 100px;
                right: -10%;

                z-index: 1;

                :first-child {
                    width: 150px;
                    height: 150px;
                    object-fit: contain;
                }
            }

            .bg {
                background-color: $color-2;
                position: absolute;
                width: 100%;
                height: 80%;

                z-index: -1;

                border-radius: 30px;
            }
        }
    }
}
@media screen and (min-width: 301px) and (max-width: 330px) {
    .first {
        // background-color: red;
        height: 200px;


        display: flex;
        justify-content: center;

        .controler-first_section {
            width: 90%;
            height: 100%;
            // background-color: blue;

            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;

            position: relative;


            .text-first {
                overflow: initial;
                margin-left: 10%;
                color: #fff;

                display: block;

                h1 {
                    font-size: 30px;
                    display: block;

                    span{
                        margin-left: 0%;

                        span {
                            background-image: linear-gradient(to bottom, #fff, #ffff);
    
    
                        }
                    }
                }
                p{
                    font-size: 15px;
                }
            }

            .image {
                position: absolute;
                // width: 300px;
                // height: 100px;
                right: -3%;

                z-index: 1;

                :first-child {
                    width: 150px;
                    height: 150px;
                    object-fit: contain;
                }
            }

            .bg {
                background-color: $color-2;
                position: absolute;
                width: 100%;
                height: 80%;

                z-index: -1;

                border-radius: 30px;
            }
        }
    }
}
@media screen and (min-width: 331px) and (max-width: 350px) {
    .first {
        // background-color: red;
        height: 200px;


        display: flex;
        justify-content: center;

        .controler-first_section {
            width: 90%;
            height: 100%;
            // background-color: blue;

            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;

            position: relative;


            .text-first {
                overflow: initial;
                margin-left: 10%;
                color: #fff;

                display: block;

                h1 {
                    font-size: 35px;
                    display: block;

                    span{
                        margin-left: 0%;

                        span {
                            background-image: linear-gradient(to bottom, #fff, #ffff);
    
    
                        }
                    }
                }
                p{
                    font-size: 15px;
                }
            }

            .image {
                position: absolute;
                // width: 300px;
                // height: 100px;
                right: -3%;

                z-index: 1;

                :first-child {
                    width: 170px;
                    height: 170px;
                    object-fit: contain;
                }
            }

            .bg {
                background-color: $color-2;
                position: absolute;
                width: 100%;
                height: 80%;

                z-index: -1;

                border-radius: 30px;
            }
        }
    }
}
@media screen and (min-width: 380px) and (max-width: 700px) {
    .first {
        // background-color: red;
        height: 250px;


        display: flex;
        justify-content: center;

        .controler-first_section {
            width: 90%;
            height: 100%;
            // background-color: blue;

            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;

            position: relative;


            .text-first {
                overflow: initial;
                margin-left: 10%;
                color: #fff;

                display: block;

                h1 {
                    font-size: 40px;
                    display: block;

                    span{
                        margin-left: 0%;

                        span {
                            background-image: linear-gradient(to bottom, #fff, #ffff);
    
    
                        }
                    }
                }
                p{
                    font-size: 15px;
                }
            }

            .image {
                position: absolute;
                // width: 300px;
                // height: 100px;
                right: 0%;

                z-index: 1;

                :first-child {
                    width: 200px;
                    height: 200px;
                    object-fit: contain;
                }
            }

            .bg {
                background-color: $color-2;
                position: absolute;
                width: 100%;
                height: 70%;

                z-index: -1;

                border-radius: 30px;
            }
        }
    }
}